<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>export</key>
	<array>
		<dict>
			<key>date</key>
			<string>Thursday, 25 January 2024 at 5:12:16 AM Indochina Time</string>
			<key>fullDate</key>
			<date>2024-01-24T22:12:16Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/brian/Downloads/DonutVideo.mov</string>
			</array>
			<key>sourceFP</key>
			<string>JQ/lYCY+Rzemp36PA3RTqA - 2024-01-24 10:10:58 PM +0000</string>
		</dict>
	</array>
</dict>
</plist>
